<template>
  <div style="padding-top:30px">
    <b-card-group deck>
      <b-card
          :title="portfolio.user.name"
          border-variant="dark"
      >
        <div class="accordion" role="tablist">
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle="'accordion-1-' + portfolio.bid.uuid" variant="dark">Bid Details</b-button>
            </b-card-header>
            <b-collapse :id="'accordion-1-' + portfolio.bid.uuid" :accordion="portfolio.bid.uuid" role="tabpanel">
              <b-card-body>
                <b-card-text style="padding-top: 5px">
                  <p>
                    <strong>Amount Invested:</strong> ${{portfolio.bid.amount.toLocaleString()}}
                  </p>
                  <p>
                    <strong>Interest Rate: </strong>{{portfolio.bid.interestRate * 100}}%
                  </p>
                </b-card-text>
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle="'accordion-2-' + portfolio.bid.uuid" variant="dark">Repayments</b-button>
            </b-card-header>
            <b-collapse :id="'accordion-2-' + portfolio.bid.uuid" visible :accordion="portfolio.bid.uuid" role="tabpanel">
              <b-card-body>
                <b-card-text style="padding-top: 5px">
                  <b-progress :max="pBar.max" height="2rem">
                    <b-progress-bar :value="pBar.value" :variant="bgVar">
                      <span>Progress: <strong>{{ pBar.value }} / {{ pBar.max }}</strong></span>
                    </b-progress-bar>
                  </b-progress>
                  <b-table striped hover :items="repayments"></b-table>
                </b-card-text>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </b-card>
    </b-card-group>
  </div>

</template>
<style scoped>
.danger{
  border: 1px solid red;
}
.circle {
  border:5px solid black;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  font-size: 100%;
  font-weight: bolder;
  color: #000;
  text-align: center;
  background: #fff
}
.circle-with-text {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
}

</style>

<script>
export default {
  props: ['portfolio'],
  computed: {
    completedRepayments(){
      let result = 0;
      this.portfolio.bid.repayments.forEach(x => {
        if (x.status === "Paid"){
          result++;
        }
      })
      return result;
    },
    bgVar(){
      if (this.completedRepayments === this.portfolio.bid.repayments.length){
        return "success"
      }
      return "info"
    },
    pBar(){

      return {
        value: this.completedRepayments,
        max: this.portfolio.bid.repayments.length
      }
    },
    repayments(){
      return this.portfolio.bid.repayments.map(repayment => {
        return {
          "amount": repayment.amount,
          "repaymentDate": new Date(Date.parse(repayment.repaymentDate)),
          "paid": repayment.paid,
          "status": repayment.status,
        }
      })
    }
  }
}
</script>