<template>
  <div>
    <div style="padding-top: 10px;" v-if="portfolios === undefined || portfolios === null || portfolios.length === 0">
      <b-card-group deck>
        <b-card title="You have no pending bids currently!">
        </b-card>
      </b-card-group>
    </div>
    <div style="padding-top: 10px;" v-if="portfolios !== undefined && portfolios !== null && portfolios.length > 0">
      <b-card-group deck>
        <b-card border-variant="dark" header-bg-variant="dark" header-text-variant="white" header="Amount Loaned" class="text-center">
          <b-card-text>
            <h3>${{calc.nav.toLocaleString()}}</h3>
          </b-card-text>
        </b-card>

        <b-card border-variant="dark" header-bg-variant="dark" header-text-variant="white" header="Expected Rate of Returns" class="text-center">
          <b-card-text>
            <h3>{{calc.ror}}%</h3>
          </b-card-text>
        </b-card>

        <b-card border-variant="dark" header-bg-variant="dark" header-text-variant="white" header="Expected Returns" class="text-center">
          <b-card-text>
            <h3>${{calc.returns.toLocaleString()}}</h3>
          </b-card-text>
        </b-card>
      </b-card-group>
      <br/>
      <b-card-group deck>
        <b-card border-variant="dark" header-bg-variant="success" header-text-variant="white" header="Repaid" class="text-center">
          <b-card-text>
            <h3>${{calc.repaid.toLocaleString()}}</h3>
          </b-card-text>
        </b-card>
        <b-card border-variant="dark" header-bg-variant="success" header-text-variant="white" header="Materialised Returns" class="text-center">
          <b-card-text>
            <h3>${{calc.aReturns.toLocaleString()}}</h3>
          </b-card-text>
        </b-card>
      </b-card-group>
    </div>
    <app-portfolio v-for="(portfolio, idx) in portfolios" :portfolio="portfolio" v-bind:key="idx"></app-portfolio>
  </div>
</template>

<script>
import Portfolio from './Portfolio.vue'
  export default {
    components: {
      appPortfolio: Portfolio
    },
    computed: {
      portfolios(){
        return this.$store.getters.portfolios
      },
      calc(){
        let nav = 0;
        let returns = 0;
        let repaid = 0;
        let aReturns = 0;
        const pfs = this.$store.getters.portfolios;
        pfs.forEach(ele => {
          nav += ele.bid.amount;
          returns += (ele.bid.amount * ele.bid.interestRate);
          for (var i = 0; i < ele.bid.repayments.length; i ++){
            var repayment = ele.bid.repayments[i];
            if (repayment.status !== 'Pending') {
              repaid += repayment.paid;
              if (i !== ele.bid.repayments.length - 1) {
                aReturns += repayment.paid;
              } else {
                aReturns += (repayment.paid - ele.bid.amount);
              }
            }
          }
        });
        const result = {
          nav: nav,
          returns: returns,
          ror: Math.round((returns/nav) * 10000) / 100,
          repaid: repaid,
          aReturns: Math.round(aReturns * 100)/100
        };
        return result;
      }
    }
  }
</script>