<template>
  <div>
    <div style="padding-top: 10px;">
      <b-card-group deck>
        <b-card title="Create a Loan">
          <b-form>
            <b-form-group
                id="input-group-1"
                label="Purpose:"
                label-for="input-purpose"
                description="What are you loaning for?"
            >
              <b-form-textarea
                  id="input-purpose"
                  v-model="form.purpose"
                  required
                  placeholder="Give the purpose of your loan"
              ></b-form-textarea>
            </b-form-group>

            <b-form-group
                id="input-group-2"
                label="Amount (SGD):"
                label-for="input-amount"
                description="How much do you want to loan (SGD)?"
            >
              <b-form-input
                  id="input-amount"
                  v-model="form.amount"
                  required
                  type="number"
                  placeholder="How much do you want to loan (SGD)"
              ></b-form-input>
            </b-form-group>

            <b-form-group
                id="input-group-3"
                label="Interest Rate (%):"
                label-for="input-ir"
                description="What is the interest rate you want to pay for the loan?"
            >
              <b-form-input
                  id="input-ir"
                  v-model="form.interestRate"
                  required
                  type="number"
                  placeholder="What is the interest rate (%)"
              ></b-form-input>
            </b-form-group>

            <b-form-group
                id="input-group-4"
                label="Time Period:"
                label-for="input-timeperiod"
                description="How often is one repayment? (e.g. I want to pay my investors back annually)"
            >
              <b-form-select
                  id="input-2"
                  v-model="form.timePeriod"
                  :options="timePeriods"
                  placeholder="Annual"
                  required
              ></b-form-select>
            </b-form-group>

            <b-form-group
                id="input-group-5"
                label="Frequency:"
                label-for="input-frequency"
                description="How many repayments are you going to make? (e.g. I want to make 3 repayments on an annual basis)"
            >
              <b-form-input
                  id="input-frequency"
                  v-model="form.frequency"
                  required
                  type="number"
                  min=1
                  step=1
                  placeholder="How many repayments"
              ></b-form-input>
            </b-form-group>

            <b-form-group
                id="input-group-6"
                label="Bidding Window Start:"
                label-for="input-start"
                description="When do you want investors to start bidding on your loan?"
            >
              <b-form-datepicker
                  id="input-start"
                  v-model="form.start"
                  required
                  placeholder="When to start bid"
              ></b-form-datepicker>
            </b-form-group>

            <b-form-group
                id="input-group-7"
                label="Bidding Window End:"
                label-for="input-end"
                description="When do you bidding to close (and to officially start your loan)?"
            >
              <b-form-datepicker
                  id="input-end"
                  v-model="form.end"
                  required
                  placeholder="When to end bid"
              ></b-form-datepicker>
            </b-form-group>

            <b-alert :show="message !== ''" variant="danger">{{ message }}</b-alert>

            <div class="text-right">
              <b-button variant="primary" :disabled="message !== ''" @click="submitLoan">Submit</b-button>
            </div>
          </b-form>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        purpose: '',
        amount: 0,
        interestRate: 0,
        timePeriod: 'Annual',
        frequency: 1,
        start: new Date(),
        end: new Date(),
      },
      timePeriods: ['Annual', 'Monthly'],
    }
  },
  computed: {
    message(){
      let today = new Date();
      today.setHours(0, 0, 0, 0);
      if (Date.parse(this.form.start) > Date.parse(this.form.end)) {
        return "Start date is later than end date"
      } else if (Date.parse(this.form.start) < today){
        return "Start date is earlier than today"
      } else if (this.form.amount < 0){
        return "Amount cannot be negative"
      } else if (this.form.interestRate < 0){
        return "Interest rate cannot be negative"
      } else if (this.form.frequency < 0) {
        return "Frequency cannot be negative"
      }
      return ""
    }
  },
  methods: {
    submitLoan() {
      let payload = {};
      let biddingWindow = {};
      let startTime = new Date(Date.parse(this.form.start));
      startTime.setHours(0, 0, 0, 0);
      let endTime = new Date(Date.parse(this.form.end));
      endTime.setHours(23, 59, 59, 999);
      biddingWindow.startTime = startTime.toISOString();
      biddingWindow.endTime = endTime.toISOString();
      payload.biddingWindow = biddingWindow

      let loanDetails = {};
      loanDetails.amount = parseFloat(this.form.amount);
      loanDetails.interestRate = parseFloat(this.form.interestRate)/100;
      loanDetails.timePeriod = this.form.timePeriod;
      loanDetails.frequency = Math.round(parseFloat(this.form.frequency));
      loanDetails.purpose = this.form.purpose;
      payload.details = loanDetails;
      this.$store.dispatch('createLoan', payload)
    }
  }
}
</script>