<template>
  <div>
    <div style="padding-top: 10px;" v-if="loans === undefined || loans === null || loans.length === 0">
      <b-card-group deck>
        <b-card title="There are no active loans currently!">
        </b-card>
      </b-card-group>
    </div>
    <app-loan v-for="(loan, idx) in loans" :loan="loan" v-bind:key="idx"></app-loan>
  </div>
</template>

<script>
import Loan from './Loan.vue'
  export default {
    components: {
      appLoan: Loan
    },
    computed: {
      loans(){
        return this.$store.getters.loans
      }
    }
  }
</script>