<template>
  <div style="padding-top:30px">
    <b-card-group deck>
      <b-card
          :title="loan.user.name"
          border-variant="dark"
      >
        <div class="accordion" role="tablist">
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle="'accordion-1-' + loan.uuid" variant="dark">Loan Details</b-button>
            </b-card-header>
            <b-collapse :id="'accordion-1-' + loan.uuid" visible :accordion="loan.uuid" role="tabpanel">
              <b-card-body>
                <b-card-text style="padding-top: 5px">
                  <p>
                    <strong>Raising:</strong> ${{loan.details.amount.toLocaleString()}}
                  </p>
                  <p>
                    <strong>Purpose: </strong>{{loan.details.purpose}}
                  </p>
                  <p>
                    <strong>Interest Rate: </strong>{{loan.details.interestRate * 100}}%
                  </p>
                  <p>
                    <strong>No of Payouts: </strong>{{loan.details.frequency}} payouts
                  </p>
                  <p>
                    <strong>Frequency of Payouts: </strong>{{loan.details.timePeriod}}
                  </p>
                </b-card-text>
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle="'accordion-2-' + loan.uuid" variant="dark">Business Owner Details</b-button>
            </b-card-header>
            <b-collapse :id="'accordion-2-' + loan.uuid" :accordion="loan.uuid" role="tabpanel">
              <b-card-body>
                <b-card-text style="padding-top: 5px">
                  <p>
                    <strong>Description: </strong>{{loan.businessOwner.description}}
                  </p>
                  <p>
                    <strong>Sector: </strong>{{loan.businessOwner.sector}}
                  </p>
                  <p>
                    <strong>Supporting Documents: </strong><a :href="loan.businessOwner.documents">Click here to download</a>
                  </p>
                </b-card-text>
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle="'accordion-3-' + loan.uuid" variant="success">{{ bidText }}</b-button>
            </b-card-header>
            <b-collapse :id="'accordion-3-' + loan.uuid" :accordion="loan.uuid" role="tabpanel">
              <b-card-body>
<!--                <b-form @submit="onSubmit">-->
                <b-card-text style="padding-top: 5px">
                  <p>
                    <strong>Bidding Window: </strong>{{countDownStr}}
                  </p>
                </b-card-text>
                <b-form v-if="investor">
                  <b-form-group
                      id="input-group-1"
                      label="Amount to invest (SGD):"
                      label-for="input-1"
                      :description="'This is the amount you want to lend to ' + loan.user.name + '. ' + loan.user.name + ' is looking to raise $ ' + (loan.details.amount.toLocaleString()) + '.'"
                  >
                    <b-form-input
                        id="input-1"
                        v-model="form.amount"
                        type="number"
                        min="1"
                        :state="bidState"
                        required
                        placeholder="Enter amount to invest"
                    ></b-form-input>
                    <b-form-invalid-feedback id="input-live-feedback">
                      Please enter a positive amount that is less than or equals to your wallet
                    </b-form-invalid-feedback>
                  </b-form-group>

                  <b-form-group
                      id="input-group-2"
                      label="Interest Rate (%):"
                      label-for="input-2"
                      :description="'This is the interest rate you want to receive. ' + loan.user.name + ' is looking for ' + (loan.details.interestRate * 100) + '% interest rate.'"
                  >
                    <b-form-input
                        id="input-2"
                        v-model="form.interestRate"
                        type="number"
                        min="0"
                        required
                        :state="irState"
                        placeholder="Enter interest rate"
                    ></b-form-input>
                    <b-form-invalid-feedback id="input-live-feedback">
                      Please enter a positive interest rate
                    </b-form-invalid-feedback>
                  </b-form-group>
                  <div class="text-right">
<!--                    <b-button type="submit" variant="primary">Submit</b-button>-->
                    <b-button @click="onSubmit" variant="primary" :disabled="!bidState || !irState">Submit</b-button>
                  </div>
                </b-form>

                <div class="text-right" v-if="!investor">
                  <!--                    <b-button type="submit" variant="primary">Submit</b-button>-->
                  <b-button @click="onClose" variant="primary">Close</b-button>
                </div>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </b-card>
    </b-card-group>
  </div>

</template>
<style scoped>
.danger{
  border: 1px solid red;
}
.circle {
  border:5px solid black;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  font-size: 100%;
  font-weight: bolder;
  color: #000;
  text-align: center;
  background: #fff
}
.circle-with-text {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
}

</style>

<script>
export default {
  props: ['loan'],
  data() {
    return {
      form: {
        amount: 0,
        interestRate: 0
      },
    }
  },
  computed: {
    funds(){
      return this.$store.getters.funds
    },
    insufficientFunds(){
      return this.quantity * this.loan.price > this.funds;
    },
    // var now = new Date().getTime();
    // var timeleft = countDownDate - now;
    //
    // var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
    // var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    // var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
    // var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);
    endingTime(){
      return new Date(Date.parse(this.loan.biddingWindow.endTime));
    },
    countDownStr(){
      const et = this.endingTime;
      const now = new Date().getTime();
      const timeLeft = et - now;
      const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
      const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
      return days + ' days, ' + hours + ' hours, ' + minutes + ' minutes, ' + seconds + ' seconds left'
    },
    investor(){
      return this.$store.getters.user.type === 'Investor';
    },
    bidState() {
      return this.form.amount > this.w || this.form.amount <= 0 ? false : true
    },
    bidText(){
      if (this.investor){
        return "Bid Now";
      } else {
        return "Close Loan"
      }
    },
    irState() {
      return this.form.interestRate < 0 ? false : true
    },
    withdrawals(){
      return this.$store.getters.withdrawals;
    },
    deposits(){
      return this.$store.getters.deposits;
    },
    w(){
      let totalDeposits = 0;
      this.deposits.forEach(ele => {
        totalDeposits += ele.amount
      })

      let totalWithdrawals = 0;
      this.withdrawals.forEach(ele => {
        totalWithdrawals += ele.amount
      })
      return totalDeposits - totalWithdrawals;
    }
  },
  methods: {
    buyStock(){
      const order = {
        stockId: this.loan.id,
        stockPrice: this.loan.price,
        quantity: this.quantity
      };
      this.$store.dispatch('buyStock', order)
      this.quantity = 0;
    },
    onSubmit() {
      const bid = {
        loanId: this.loan.uuid,
        amount: parseFloat(this.form.amount),
        interestRate: parseFloat(this.form.interestRate)
      };
      this.$store.dispatch('bidLoan', bid)
    },
    onClose() {
      const close = {
        loanId: this.loan.uuid
      };
      this.$store.dispatch('closeLoan', close)
    }
  }
}
</script>