<!--<template>-->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <router-link to="/" class="navbar-brand">-->
<!--      <img src="../assets/logo.png" class="img-fluid"/>-->
<!--    </router-link>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav mr-auto">-->
<!--        <li class="nav-item active">-->
<!--          <router-link to="/portfolio" class="nav-link"><a>Portfolio</a></router-link>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Link</a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            Dropdown-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <a class="dropdown-item" href="#">Action</a>-->
<!--            <a class="dropdown-item" href="#">Another action</a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" href="#">Disabled</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <ul class="navbar-nav my-2 my-lg-0">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" href="#" @click="signOut">Logout</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--&lt;!&ndash;      <form class="form-inline my-2 my-lg-0">&ndash;&gt;-->
<!--&lt;!&ndash;        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">&ndash;&gt;-->
<!--&lt;!&ndash;        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>&ndash;&gt;-->
<!--&lt;!&ndash;      </form>&ndash;&gt;-->
<!--    </div>-->
<!--  </nav>-->
<!--</template>-->

<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-brand href="#">
        <router-link to="/" class="navbar-brand">
          <img src="../assets/logo.png" class="img-fluid"/>
        </router-link>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav v-if="investor">
          <b-nav-item :to="'loans'">
            Loans
          </b-nav-item>
          <b-nav-item :to="'bids'">
            Pending Bids
          </b-nav-item>
          <b-nav-item :to="'portfolios'">
            Portfolio
          </b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav v-if="businessOwner">
          <b-nav-item-dropdown>
            <template v-slot:button-content>
              Loans
            </template>
            <b-dropdown-item v-if="businessOwner" href="#">
              <router-link tag="li" to="loans">
                Open Loans
              </router-link>
            </b-dropdown-item>
            <b-dropdown-item href="#">
              <router-link tag="li" to="boloan">
                Create Loan
              </router-link>
            </b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item :to="'repayments'">
            Repayments
          </b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
<!--          <b-nav-form>-->
<!--            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>-->
<!--            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>-->
<!--          </b-nav-form>-->

<!--          <b-nav-item-dropdown text="Lang" right>-->
<!--            <b-dropdown-item href="#">EN</b-dropdown-item>-->
<!--            <b-dropdown-item href="#">ES</b-dropdown-item>-->
<!--            <b-dropdown-item href="#">RU</b-dropdown-item>-->
<!--            <b-dropdown-item href="#">FA</b-dropdown-item>-->
<!--          </b-nav-item-dropdown>-->

          <b-nav-item v-if="investor">
            <strong>Wallet:</strong> ${{ w.toLocaleString() }}
          </b-nav-item>

          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->

            <template v-slot:button-content>
              <em>{{ user.name }}</em>
            </template>
<!--            <b-dropdown-item href="#">Profile</b-dropdown-item>-->
            <b-dropdown-item v-if="investor" href="#">
              <router-link tag="li" to="deposits">
                Deposit Funds
              </router-link>
            </b-dropdown-item>

            <b-dropdown-item v-if="investor" href="#">
              <router-link tag="li" to="withdrawals">
                Withdraw Funds
              </router-link>
            </b-dropdown-item>

            <b-dropdown-item v-if="businessOwner" href="#">
              <router-link tag="li" to="boprofile">
                Profile
              </router-link>
            </b-dropdown-item>
            <b-dropdown-item href="#" @click="signOut">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  export default {
    data(){
      return {
        isDropdownOpen: false
      }
    },
    computed: {
      funds(){
        return this.$store.getters.funds
      },
      user(){
        return this.$store.getters.user
      },
      investor(){
        return this.$store.getters.user.type === "Investor"
      },
      businessOwner(){
        return this.$store.getters.user.type === "Business Owner"
      },
      withdrawals(){
        return this.$store.getters.withdrawals;
      },
      deposits(){
        return this.$store.getters.deposits;
      },
      w(){
        let totalDeposits = 0;
        this.deposits.forEach(ele => {
          totalDeposits += ele.amount
        })

        let totalWithdrawals = 0;
        this.withdrawals.forEach(ele => {
          totalWithdrawals += ele.amount
        })
        return totalDeposits - totalWithdrawals;
      }
    },
    methods: {
      ...mapActions([
         "randomizeStocks", "logout"
      ]),
      endDay(){
        this.randomizeStocks();
      },
      signOut(){
        this.logout();
      },
    }
  }
</script>

<style scoped>
.img-fluid {
  height: 50px
}

</style>