<template>
  <div>
    {{redirect}}
  </div>
</template>

<script>
  export default {
    computed: {
      redirect(){
        if (this.$store.getters.user.type === "Business Owner"){
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.$router.push('/boprofile')
        } else {
          // eslint-disable-next-line vue/no-side-effects-in-computed-properties
          this.$router.push('/loans')
        }
        return ''
      }
    }
  }
</script>