<template>
  <div style="padding-top:30px">
    <b-card-group deck>
      <b-card
          :title="bid.user.name"
          border-variant="dark"
      >
        <div class="accordion" role="tablist">
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle="'accordion-1-' + bid.loan.uuid" variant="dark">Loan Details</b-button>
            </b-card-header>
            <b-collapse :id="'accordion-1-' + bid.loan.uuid" :accordion="bid.loan.uuid" role="tabpanel">
              <b-card-body>
                <b-card-text style="padding-top: 5px">
                  <p>
                    <strong>Raising:</strong> ${{bid.loan.details.amount.toLocaleString()}}
                  </p>
                  <p>
                    <strong>Purpose: </strong>{{bid.loan.details.purpose}}
                  </p>
                  <p>
                    <strong>Interest Rate: </strong>{{bid.loan.details.interestRate * 100}}%
                  </p>
                  <p>
                    <strong>No of Payouts: </strong>{{bid.loan.details.frequency}} payouts
                  </p>
                  <p>
                    <strong>Frequency of Payouts: </strong>{{bid.loan.details.timePeriod}}
                  </p>
                </b-card-text>
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle="'accordion-2-' + bid.loan.uuid" variant="dark">Issuer Details</b-button>
            </b-card-header>
            <b-collapse :id="'accordion-2-' + bid.loan.uuid" :accordion="bid.loan.uuid" role="tabpanel">
              <b-card-body>
                <b-card-text style="padding-top: 5px">
                  <p>
                    <strong>Description: </strong>{{bid.businessOwner.description}}
                  </p>
                  <p>
                    <strong>Sector: </strong>{{bid.businessOwner.sector}}
                  </p>
                </b-card-text>
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle="'accordion-3-' + bid.loan.uuid" variant="success">Update Bid</b-button>
            </b-card-header>
            <b-collapse :id="'accordion-3-' + bid.loan.uuid" visible :accordion="bid.loan.uuid" role="tabpanel">
              <b-card-body>
<!--                <b-form @submit="onSubmit">-->
                <b-card-text style="padding-top: 5px">
                  <p>
                    <strong>Bidding Window: </strong>{{countDownStr}}
                  </p>
                </b-card-text>
                <b-form>
                  <b-form-group
                      id="input-group-1"
                      label="Amount to invest (SGD):"
                      label-for="input-1"
                      :description="'This is the amount you want to lend to ' + bid.user.name + '. ' + bid.user.name + ' is looking to raise $ ' + (bid.loan.details.amount.toLocaleString()) + '.'"
                  >
                    <b-form-input
                        id="input-1"
                        v-model="form.amount"
                        type="number"
                        min="1"
                        required
                        placeholder="Enter amount to invest"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group
                      id="input-group-2"
                      label="Interest Rate (%):"
                      label-for="input-2"
                      :description="'This is the interest rate you want to receive. ' + bid.user.name + ' is looking for ' + (bid.loan.details.interestRate * 100) + '% interest rate.'"
                  >
                    <b-form-input
                        id="input-2"
                        v-model="form.interestRate"
                        type="number"
                        min="0"
                        required
                        placeholder="Enter interest rate"
                    ></b-form-input>
                  </b-form-group>
                  <div class="text-right">
<!--                    <b-button type="submit" variant="primary">Submit</b-button>-->
                    <b-button @click="onSubmit" variant="primary">Submit</b-button>
                  </div>
                </b-form>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </b-card>
    </b-card-group>
  </div>

</template>
<style scoped>
.danger{
  border: 1px solid red;
}
.circle {
  border:5px solid black;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  font-size: 100%;
  font-weight: bolder;
  color: #000;
  text-align: center;
  background: #fff
}
.circle-with-text {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
}

</style>

<script>
export default {
  props: ['bid'],
  computed: {
    form(){
      return {
        amount: this.bid.amount,
        interestRate: this.bid.interestRate * 100
      }
    },
    endingTime(){
      return new Date(Date.parse(this.bid.loan.biddingWindow.endTime));
    },
    countDownStr(){
      const et = this.endingTime;
      const now = new Date().getTime();
      const timeLeft = et - now;
      const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
      const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
      const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
      return days + ' days, ' + hours + ' hours, ' + minutes + ' minutes, ' + seconds + ' seconds left'
    }
  },
  methods: {
    buyStock(){
      const order = {
        stockId: this.loan.id,
        stockPrice: this.loan.price,
        quantity: this.quantity
      };
      this.$store.dispatch('buyStock', order)
      this.quantity = 0;
    },
    onSubmit() {
      const bid = {
        loanId: this.bid.loan.uuid,
        amount: parseFloat(this.form.amount),
        interestRate: parseFloat(this.form.interestRate)
      };
      this.$store.dispatch('bidLoan', bid)
    }
  }
}
</script>