<template>
  <div>
    <div style="padding-top: 10px;" v-if="bids === undefined || bids === null || bids.length === 0">
      <b-card-group deck>
        <b-card title="You have no pending bids currently!">
        </b-card>
      </b-card-group>
    </div>
    <div style="padding-top: 10px;" v-if="bids !== undefined && bids !== null && bids.length > 0">
        <b-card-group deck>
          <b-card border-variant="dark" header-bg-variant="dark" header-text-variant="white" header="Amount Loaned" class="text-center">
            <b-card-text>
              <h3>${{portfolio.nav.toLocaleString()}}</h3>
            </b-card-text>
          </b-card>

          <b-card border-variant="dark" header-bg-variant="dark" header-text-variant="white" header="Expected Rate of Returns" class="text-center">
            <b-card-text>
              <h3>{{portfolio.ror}}%</h3>
            </b-card-text>
          </b-card>

          <b-card border-variant="dark" header-bg-variant="dark" header-text-variant="white" header="Expected Returns" class="text-center">
            <b-card-text>
              <h3>${{portfolio.returns.toLocaleString()}}</h3>
            </b-card-text>
          </b-card>
        </b-card-group>
    </div>
    <app-bid v-for="(bid, idx) in bids" :bid="bid" v-bind:key="idx"></app-bid>
  </div>
</template>

<script>
import Bid from './Bid.vue'
  export default {
    components: {
      appBid: Bid
    },
    computed: {
      bids(){
        return this.$store.getters.bidPortfolio
      },
      portfolio(){
        let nav = 0;
        let returns = 0;
        const bids = this.$store.getters.bidPortfolio;
        bids.forEach(ele => {
          nav += ele.amount;
          returns += (ele.amount * ele.interestRate);
        });
        const result = {
          nav: nav,
          returns: returns,
          ror: Math.round((returns/nav) * 10000) / 100
        };
        return result;
      }
    }
  }
</script>