<template>
  <div>
    <div style="padding-top: 10px;" v-if="repayments === undefined || repayments === null || repayments.length === 0">
      <b-card-group deck>
        <b-card title="You have no repayments currently!">
        </b-card>
      </b-card-group>
    </div>
    <div style="padding-top: 10px;" v-if="repayments !== undefined && repayments !== null && repayments.length > 0">
      <b-card-group deck>
        <b-card border-variant="dark" header-bg-variant="dark" header-text-variant="white" header="Total Amount Owed" class="text-center">
          <b-card-text>
            <h3>${{calc.amountRaised.toLocaleString()}}</h3>
          </b-card-text>
        </b-card>

        <b-card border-variant="dark" header-bg-variant="success" header-text-variant="white" header="Amount Paid" class="text-center">
          <b-card-text>
            <h3>${{calc.amountPaid.toLocaleString()}}</h3>
          </b-card-text>
        </b-card>

        <b-card border-variant="dark" header-bg-variant="danger" header-text-variant="white" header="Amount Outstanding" class="text-center">
          <b-card-text>
            <h3>${{calc.amountOutstanding.toLocaleString()}}</h3>
          </b-card-text>
        </b-card>
      </b-card-group>
    </div>
    <app-repayment v-for="(repayment, idx) in repayments" :repayment="repayment" v-bind:key="idx"></app-repayment>
  </div>
</template>

<script>
import Repayment from './Repayment.vue'
export default {
  components: {
    appRepayment: Repayment
  },
  computed: {
    repayments(){
      return this.$store.getters.repayments
    },
    calc(){
      let amountRaised = 0;
      let amountOutstanding = 0;
      let amountPaid = 0;
      const rps = this.$store.getters.repayments;
      rps.forEach(ele => {
        ele.repayments.forEach(repayment => {
          amountRaised += repayment.amount;
          amountPaid += repayment.paid;
          amountOutstanding += (repayment.amount - repayment.paid);
        })
      });
      const result = {
        amountRaised: amountRaised,
        amountOutstanding: amountOutstanding,
        amountPaid: amountPaid
      };
      return result;
    }
  }
}
</script>