<template>
  <div style="padding-top:30px">
    <b-card-group deck>
      <b-card
          border-variant="dark"
      >
        <div class="accordion" role="tablist">
          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle="'accordion-1-' + repayment.uuid" variant="dark">Loan Details</b-button>
            </b-card-header>
            <b-collapse :id="'accordion-1-' + repayment.uuid" :accordion="repayment.uuid" role="tabpanel">
              <b-card-body>
                <b-card-text style="padding-top: 5px">
                  <p>
                    <strong>Details:</strong> {{repayment.loan.details.purpose}}
                  </p>
                  <p>
                    <strong>Total Amount Owed:</strong> ${{calc.amountRaised.toLocaleString()}}
                  </p>
                  <p>
                    <strong>Amount Paid:</strong> ${{calc.amountPaid.toLocaleString()}}
                  </p>
                  <p>
                    <strong>Amount Outstanding:</strong> ${{calc.amountOutstanding.toLocaleString()}}
                  </p>
                </b-card-text>
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body class="mb-1">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle="'accordion-2-' + repayment.uuid" variant="dark">Repayments</b-button>
            </b-card-header>
            <b-collapse :id="'accordion-2-' + repayment.uuid" visible :accordion="repayment.uuid" role="tabpanel">
              <b-card-body>
                <b-card-text style="padding-top: 5px">
                  <b-progress :max="pBar.max" height="2rem">
                    <b-progress-bar :value="pBar.value" :variant="bgVar">
                      <span>Progress: <strong>{{ pBar.value }} / {{ pBar.max }}</strong></span>
                    </b-progress-bar>
                  </b-progress>
                  <b-table striped hover :items="repaymentMeta"></b-table>
                </b-card-text>
              </b-card-body>
            </b-collapse>
          </b-card>

          <b-card no-body class="mb-1" v-if="!repaid">
            <b-card-header header-tag="header" class="p-1" role="tab">
              <b-button block v-b-toggle="'accordion-3-' + repayment.uuid" variant="success">Repay</b-button>
            </b-card-header>
            <b-collapse :id="'accordion-3-' + repayment.uuid" :accordion="repayment.uuid" role="tabpanel">
              <b-card-body>
                <b-form>
                  <b-form-group
                      id="input-group-1"
                      label="Amount to repay (SGD):"
                      label-for="input-1"
                      :description="'This is the amount you want to repay.'"
                  >
                    <b-form-input
                        id="input-1"
                        v-model="form.amount"
                        type="number"
                        min="1"
                        required
                        placeholder="Enter amount to invest"
                    ></b-form-input>
                  </b-form-group>
                  <b-alert :show="message !== ''" variant="danger">{{ message }}</b-alert>
                  <div class="text-right">
                    <!--                    <b-button type="submit" variant="primary">Submit</b-button>-->
                    <b-button variant="primary" :disabled="message !== ''" @click="onSubmit">Submit</b-button>
                  </div>
                </b-form>
              </b-card-body>
            </b-collapse>
          </b-card>
        </div>
      </b-card>
    </b-card-group>
  </div>

</template>
<style scoped>
.danger{
  border: 1px solid red;
}
.circle {
  border:5px solid black;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  font-size: 100%;
  font-weight: bolder;
  color: #000;
  text-align: center;
  background: #fff
}
.circle-with-text {
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
}

</style>

<script>
export default {
  props: ['repayment'],
  data() {
    return {
      form: {
        amount: 1
      },
    }
  },
  computed: {
    calc(){
      let amountRaised = 0;
      let amountPaid = 0;
      let amountOutstanding = 0;
      this.repayment.repayments.forEach(ele => {
        amountRaised += ele.amount;
        amountPaid += ele.paid
        amountOutstanding += (ele.amount - ele.paid)
      })
      const result = {
        amountRaised: amountRaised,
        amountOutstanding: amountOutstanding,
        amountPaid: amountPaid
      };
      return result;
    },
    repaid(){
      return this.repayment.status === 'Paid';
    },
    completedRepayments(){
      let result = 0;
      this.repayment.repayments.forEach(x => {
        if (x.status === "Paid"){
          result++;
        }
      })
      return result;
    },
    bgVar(){
      if (this.completedRepayments === this.repayment.repayments.length){
        return "success"
      }
      return "info"
    },
    pBar(){

      return {
        value: this.completedRepayments,
        max: this.repayment.repayments.length
      }
    },
    repaymentMeta(){
      return this.repayment.repayments.map(repayment => {
        return {
          "amount": repayment.amount,
          "repaymentDate": new Date(Date.parse(repayment.repaymentDate)),
          "paid": repayment.paid,
          "status": repayment.status,
        }
      })
    },
    message(){
      if (parseFloat(this.form.amount) > this.calc.amountOutstanding) {
        return "This is over the total amount owed"
      } else if (parseFloat(this.form.amount) <= 0){
        return "Amount must be more than 0"
      }
      return ""
    }
  },
  methods: {
    onSubmit() {
      const rp = {
        id: this.repayment.uuid,
        amount: parseFloat(this.form.amount)
      };
      this.$store.dispatch('repayLoan', rp)
    }
  }
}
</script>