<template>
  <div>
    <div style="padding-top: 10px;">
      <b-card-group deck>
        <b-card border-variant="dark" header-bg-variant="dark" header-text-variant="white" header="Total Value" class="text-center">
          <b-card-text>
            <h3>${{wallet.total.toLocaleString()}}</h3>
          </b-card-text>
        </b-card>

        <b-card border-variant="dark" header-bg-variant="dark" header-text-variant="white" header="Pending Withdrawal Value" class="text-center">
          <b-card-text>
            <h3>${{wallet.pending.toLocaleString()}}</h3>
          </b-card-text>
        </b-card>

        <b-card border-variant="dark" header-bg-variant="dark" header-text-variant="white" header="Current Balance" class="text-center">
          <b-card-text>
            <h3>${{wallet.current.toLocaleString()}}</h3>
          </b-card-text>
        </b-card>
      </b-card-group>
      <br/>
      <b-card-group>
        <b-card border-variant="dark" header-bg-variant="dark" class="text-center">
          <b-card-body>
            <b-form>
              <b-form-group
                  id="input-group-1"
                  label="Amount to withdrawal (SGD):"
                  label-for="input-1"
                  description="This is the amount you want to withdraw"
              >
                <b-form-input
                    id="input-1"
                    v-model="form.amount"
                    :state="withdrawalState"
                    type="number"
                    min="1"
                    required
                    placeholder="Enter amount to withdraw"
                ></b-form-input>
                <b-form-invalid-feedback id="input-live-feedback">
                  Please enter a positive withdrawal amount less than or equals to current balance
                </b-form-invalid-feedback>
              </b-form-group>
              <div class="text-right">
                <!--                    <b-button type="submit" variant="primary">Submit</b-button>-->
                <b-button @click="onSubmit" :disabled="!withdrawalState" variant="primary">Submit</b-button>
              </div>
            </b-form>
          </b-card-body>
        </b-card>
      </b-card-group>
      <br/>
      <b-card-group>
        <b-card border-variant="dark" header-bg-variant="dark" header-text-variant="white" header="Withdrawals History" class="text-center">
          <b-card-body>
            <b-card-text style="padding-top: 5px">
              <b-table striped hover :items="withdrawalTable"></b-table>
            </b-card-text>
          </b-card-body>
        </b-card>
      </b-card-group>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        form: {
          amount: 0
        },
      }
    },
    computed: {
      withdrawalState() {
        return this.form.amount > this.wallet.current || this.form.amount <= 0 ? false : true
      },
      withdrawals(){
        return this.$store.getters.withdrawals;
      },
      deposits(){
        return this.$store.getters.deposits;
      },
      w(){
        let totalDeposits = 0;
        this.deposits.forEach(ele => {
          totalDeposits += ele.amount
        })

        let totalWithdrawals = 0;
        this.withdrawals.forEach(ele => {
          totalWithdrawals += ele.amount
        })
        return totalDeposits - totalWithdrawals;
      },
      wallet(){
        let withdrawalAmt = 0;
        this.withdrawals.forEach(ele => {
          if (ele.status === 'Pending') {
            withdrawalAmt += ele.amount;
          }
        })
        return {
          total: this.w,
          pending: withdrawalAmt,
          current: this.w - withdrawalAmt,
        }
      },
      withdrawalTable(){
        return this.withdrawals.map(w => {
          return {
            "amount": '$' + w.amount.toLocaleString(),
            "repaymentDate": new Date(Date.parse(w.withdrawalDate)),
            "status": w.status,
            "type": w.type
          }
        })
      }
    },
    methods: {
      onSubmit() {
        const withdrawal = {
          amount: parseFloat(this.form.amount)
        };
        this.$store.dispatch('withdraw', withdrawal)
      }
    }
  }
</script>