<!--<template>-->
<!--  <div id="signin">-->
<!--    <div class="signin-form">-->
<!--      <form @submit.prevent="onSubmit">-->
<!--        <div class="input">-->
<!--          <label for="email">Email</label>-->
<!--          <input-->
<!--              type="email"-->
<!--              id="email"-->
<!--              v-model="email">-->
<!--        </div>-->
<!--        <div class="input">-->
<!--          <label for="password">Password</label>-->
<!--          <input-->
<!--              type="password"-->
<!--              id="password"-->
<!--              v-model="password">-->
<!--        </div>-->
<!--        <div class="text-right">-->
<!--          <button type="submit" class="btn btn-default">Submit</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</template>-->

<template>
  <div id="signin">
    <div class="signin-form">
      <div>
        <img src="../../assets/logo.png" class="img-fluid"/>
      </div>
      <br/>
      <div v-if="loginError !== undefined" class="alert alert-danger" role="alert">
        Login failed!
      </div>
      <form @submit.prevent="onSubmit">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" v-model="email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" v-model="password">
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },
  computed: {
    loginError(){
      return this.$store.getters.loginError
    }
  },
  methods: {
    onSubmit () {
      const formData = {
        email: this.email,
        password: this.password,
      };
      this.$store.dispatch('login', {
        email: formData.email,
        password: formData.password
      });
    }
  }
}
</script>

<style scoped>
.img-fluid {
  max-width: 100%;
  height: auto
}

.signin-form {
  width: 400px;
  margin: 30px auto;
  border: 1px solid #eee;
  padding: 20px;
  box-shadow: 0 2px 3px #ccc;
}

.input {
  margin: 10px auto;
}

.input label {
  display: block;
  color: #4e4e4e;
  margin-bottom: 6px;
}

.input input {
  font: inherit;
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.input input:focus {
  outline: none;
  border: 1px solid #521751;
  background-color: #eee;
}

.submit button {
  border: 1px solid #521751;
  color: #521751;
  padding: 10px 20px;
  font: inherit;
  cursor: pointer;
}

.submit button:hover,
.submit button:active {
  background-color: #521751;
  color: white;
}

.submit button[disabled],
.submit button[disabled]:hover,
.submit button[disabled]:active {
  border: 1px solid #ccc;
  background-color: transparent;
  color: #ccc;
  cursor: not-allowed;
}
</style>